@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>


@foreach (var p in Model)
{
    <div class="col-4 mt-5">
        <div class="card">
            <img src="@p.ImageUrl" class="card-img-top img-thumbnail" style="height:300px;" alt="...">
            <div class="card-body">
                <h5 class="card-title text-truncate">@p.Name</h5>
                <p class="card-text">&euro;@p.Price</p>


                @if (ViewData["Title"] == "Index")
                {
                    <a href="/Products/Details?id=@p.Id" class="btn btn-primary">View Specification</a>

                    @if (User.IsInRole("Admin"))
                    {
                        <a href="/Products/Delete?id=@p.Id" class="btn btn-danger">Delete</a>
                    }

                    
                    <form asp-controller="Carts" asp-action="AddToCart">
                        <div class="row mt-2">
                            <div class="col-4">
                                <input type="number" class="form-control" placeholder="Quantity" min="1" value="1" name="quantity" id="quantity" />
                                <input type="hidden" name="productId" id="productId" value="@p.Id" />
                            </div>
                            <div class="col-8">
                                <input type="submit" value="Add To Cart" class="btn btn-block btn-success" />
                            </div>
                        </div>
                    </form>
                    
                }

                @if (ViewData["Title"] == "Cart")
                {
                    //Remove from Cart
                    <a href="/Products/Delete?id=@p.Id" class="btn btn-danger">Remove from Cart</a>
                }



            </div>
        </div>
    </div>
}
