@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>

@foreach (var p in Model)
{
    <div class="col-4 mt-5">
        <div class="card">
            <img src="@p.ImageUrl" class="card-img-top img-thumbnail" style="height:300px;" alt="...">
            <div class="card-body">
                <h5 class="card-title text-truncate">@p.Name</h5>
                <p class="card-text">&euro;@p.Price</p>


                @if (ViewData["Title"] == "Index")
                {
                    <a href="/Products/Details?id=@p.Id" class="btn btn-primary">View Specification</a>

                    @if (User.IsInRole("Admin"))
                    {
                        <a href="/Products/Delete?id=@p.Id" class="btn btn-danger">Delete</a>
                    }

                    //Add quantity form
                    //Add to card button
                    <a href="/Products/Delete?id=@p.Id" class="btn btn-danger">Add to Cart</a>
                }

                @if (ViewData["Title"] == "Cart")
                {
                    //Remove from Cart
                    <a href="/Products/Delete?id=@p.Id" class="btn btn-danger">Remove from Cart</a>
                }



            </div>
        </div>
    </div>
}
