@model IEnumerable<ShoppingCart.Application.ViewModels.CartViewModel>


@{
    ViewData["Title"] = "Index";
}

<h1>Cart</h1>

<div class="container">
    

    @Html.Partial("ViewCartPartial", Model)

    
    @if (Model.Count() > 0)
    {
        <a class="btn btn-block btn-dark mt-3" href="/Carts/Checkout">Checkout</a>
                
    }
    else{ 
        <h3>You have nothing in your cart, add some!</h3>
    }



</div>



