@model IEnumerable<ShoppingCart.Application.ViewModels.CartViewModel>


@{
    ViewData["Title"] = "Index";
}

<h1>Current User Cart</h1>

<div class="container">
    <div class="row">

        @Html.Partial("ViewCartPartial", Model)

    </div>
    @if (Model.Count() > 0)
    {
        <a class="btn btn-block btn-success mt-3" href="/Carts/Checkout">Checkout</a>
                
    }



</div>



